{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "chrome": true,
  },
  "rules": {
    "no-console": 0,
    "indent": 0,
    "max-len": 0,
    "no-use-before-define": 0,
    "no-restricted-syntax": 0,
    "default-case": 0
  }
}
